<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<div class="container">

  <br><br>
  <h1><%= @article.name%></h1>
  <p>Author: <b><%= @article.author_name%></b></p>
  <div class="card" style="width: 80rem; font-size: 20px;">
  <%= image_tag("Test/image.png", class:"img-fluid")%>
  <div class="card-body">
    <%= @article.description %><p>
    <%= @article.description %>
    <%= @article.description %>
    <%= @article.description %>

    <br><br>

    <%= link_to "Back", articles_path(@articles), class: 'btn btn-primary'%>
    <td><%= link_to 'Edit', edit_article_url(@article), class: 'btn btn-warning'%></td>
  </div>
</div>

  <!-- <h1><%=@article.name%></h1>
    <table>
      <thead>
        <table class="w3-table-all">
        <tr class="w3-light-grey w3-hover-grey">
          <th>Name</th>
          <th>Description</th>
          <th>AuhthorID</th>
          <th colspan = '1'>Actions</th>
        </tr>
      </thead>
      <tbody>
          <td> <%= @article.name%> </td>
          <td> <%= @article.description %> </td>
          <td> <%= @article.author_id %> </td>
          <td><%= link_to 'Edit', edit_article_url(@article), class: 'btn btn-warning'%></td>
      </tbody>
    </table> 

  <div class="row">
      <div>
    <%= link_to "Back", articles_path(@articles), class: 'btn btn-primary'%>
    </div>
  </di
  v> -->
</div>